/* .title h1{
    color:rgb(3, 91, 91);
    padding-top: 80px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;

}
.buttonStyle {
    padding-bottom: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttonStyle button {
    width: 180px;
    height: 80px;
    margin: 0 20px;
    background-color: #d6490c;
    color: white;
    font-size: 24px;
    border-radius: 10px;
} */

.container {
    padding-top: 80px;
  }
  
  .cardDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    margin-top: 10px;
    font-size: x-large;
  }
  
  .card-text {
    margin-top: 10px;
  }
  
  .btn-primary {
    margin-bottom: 10px;
    background-color: #d6490c;
    border-color: #d6490c;
  }
  