
<div class="container">
    <div class="cardDetail">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Add Vehicle</h5>
          <p class="card-text">Click here to add a new vehicle.</p>
          <a href="/addVehicle" class="btn btn-primary">Add Vehicle</a>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Vehicle Details</h5>
          <p class="card-text">Click here to view existing vehicle details.</p>
          <a href="/vehicle" class="btn btn-primary">Vehicle Details</a>
        </div>
      </div>
    </div>
  </div>
  