<!-- <form [formGroup]="editForm" >
    <div class="form-group">
      <label for="vehicleName">Vehicle Name:</label>
      <input type="text" class="form-control" id="vehicleName" formControlName="vehicleName" required>
    </div>
    <div class="form-group">
      <label for="vehicleModel">Vehicle Model:</label>
      <input type="text" class="form-control" id="vehicleModel" formControlName="vehicleModel" required>
    </div>
    <div class="form-group">
      <label for="vehiclePrice">Vehicle Price:</label>
      <input type="number" class="form-control" id="vehiclePrice" formControlName="vehiclePrice" required>
    </div>
    <div class="form-group">
      <label for="vehicleDescription">Vehicle Description:</label>
      <textarea class="form-control" id="vehicleDescription" formControlName="vehicleDescription" required></textarea>
    </div>
    <div class="form-group">
      <label for="vehicleImageUrl">Vehicle Image URL:</label>
      <input type="text" class="form-control" id="vehicleImageUrl" formControlName="vehicleImageUrl" required>
    </div>
    <button (click)="editVehicleData()" class="btn btn-primary">Submit</button>
  </form>
   -->


   <form [formGroup]="editForm" >
    <div class="form-group">
      <label for="vehicleName">Vehicle Name:</label>
      <input type="text" class="form-control" id="vehicleName" formControlName="vehicleName" required>
      <div *ngIf="editForm.get('vehicleName').invalid && (editForm.get('vehicleName').dirty || editForm.get('vehicleName').touched)" class="text-danger">
        <div *ngIf="editForm.get('vehicleName').errors.required">
          Vehicle name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="vehicleModel">Vehicle Model:</label>
      <input type="text" class="form-control" id="vehicleModel" formControlName="vehicleModel" required>
      <div *ngIf="editForm.get('vehicleModel').invalid && (editForm.get('vehicleModel').dirty || editForm.get('vehicleModel').touched)" class="text-danger">
        <div *ngIf="editForm.get('vehicleModel').errors.required">
          Vehicle model is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="vehiclePrice">Vehicle Price:</label>
      <input type="number" class="form-control" id="vehiclePrice" formControlName="vehiclePrice" required>
      <div *ngIf="editForm.get('vehiclePrice').invalid && (editForm.get('vehiclePrice').dirty || editForm.get('vehiclePrice').touched)" class="text-danger">
        <div *ngIf="editForm.get('vehiclePrice').errors.required">
          Vehicle price is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="vehicleDescription">Vehicle Description:</label>
      <textarea class="form-control" id="vehicleDescription" formControlName="vehicleDescription" required></textarea>
      <div *ngIf="editForm.get('vehicleDescription').invalid && (editForm.get('vehicleDescription').dirty || editForm.get('vehicleDescription').touched)" class="text-danger">
        <div *ngIf="editForm.get('vehicleDescription').errors.required">
          Vehicle description is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="vehicleImageUrl">Vehicle Image URL:</label>
      <input type="text" class="form-control" id="vehicleImageUrl" formControlName="vehicleImageUrl" required>
      <div *ngIf="editForm.get('vehicleImageUrl').invalid && (editForm.get('vehicleImageUrl').dirty || editForm.get('vehicleImageUrl').touched)" class="text-danger">
        <div *ngIf="editForm.get('vehicleImageUrl').errors.required">
          Vehicle image URL is required.
        </div>
      </div>
    </div>
    <button (click)="editVehicleData()" class="btn btn-primary">Submit</button>
  </form>
  