

<div class="card-container">
  <div *ngFor="let company of companies">
    <div *ngFor="let vehicle of company.vehicleDetails">
      <div class="card mb-4">
        <img src="{{vehicle.vehicleImageUrl}}" alt="">
        <!-- <img src="../../assets/image/vehicleApp.jpg" alt=""> -->
        <div class="card-body">
          <h5 class="card-title">{{vehicle.vehicleName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{vehicle.vehicleModel}}</h6>
          <p class="card-text">{{vehicle.vehicleDescription}}</p>
          <p class="card-price">Price: {{vehicle.vehiclePrice}}</p>
          <button (click)="addCart(vehicle)" >Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>


 